p { color: rgb(255, 255, 255); }
body{
    background-color: black;
}
#p1{
    color: rgb(255, 255, 255);
}


    #d1 {
        background-color: rgb(136, 30, 365);
    }


#d2{
    background-color: darkslateblue;
}


#d3{
    background-color: lightskyblue;
}