p { 
    color: rgb(255, 255, 255); 
}

body{
    background-color: black;
}

#p1{
    color: rgb(255, 255, 255);
    float:right;
    display:inline-block;
}

#div-parrafo1{
    float:right;  
    position: relative;
    text-align:center;
}


.imagen_perfil{
    width: 125px;
    height: 250px;
    border-radius: 20px;
    float: right; 
}

    #d1 {
        border: 10px solid burlywood;
        background-color: rgb(136, 30, 365);
        border-radius: 20px;
    }

    #d1-0 li {
        display: inline;
        color: rgb(161, 26, 161);
        }

        #d1-0 li a:hover {
            background-color: #cc4ce6;
            margin-top: -2;
            padding-bottom: 12px;
            }

#d1-1{
    border: 10px solid cadetblue;
    margin: 15px 10px 15px 10px;
    padding: 20px;
    border-radius: 20px;
    width: 890px;
    height: 250px;
    position: relative;
}

#d2{
    background-color: darkslateblue;
}


#d3{
    background-color: lightskyblue;
}